:root{
  --flex-direction: row;
  --primary-color: #042333;
  --secondary-color: #33658a;
  --tertiary-color: #ebf2fa;
  --quaternary-color: #ffbf46;
}

*{
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
}

a{
  text-decoration: none;
}

article{
  flex: 1;
  margin: 10px;
  color: var(--tertiary-color)
}

article > h1{
  font-size: 72px;
  text-align: center;
  margin: 0px 0px 60px 0px;
}

article > h2{
  font-size: 64px;
  text-align: center;
  margin: 0px 0px 60px 0px;
}

article > p {
  font-size: 30px;
  text-align: center;
}

article > i {
  font-size: 72px;
}

body{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: var(--primary-color);
  height: 100vh;
}

h1,h2,h3,h4,h5,h6{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
  color:var(--quaternary-color);
  font-size: 48px;
  font-weight: 800;
}

header {
  background-color: var(--secondary-color);
  padding: 0px 10px;
}

main {
  height: 100%;
  overflow: scroll;
}

section {
  margin:auto;
  min-height:100%;
}

.column-width {
  width: 90%;
}

.paragraph-text {
  text-align: left;
  padding: 5px 0px;
}

.container {
  border-radius: 5px;
}

.direction-column {
  flex-direction: column;
}

.content-width {
  width: 85%;
}

.nav-item{
  color: white;
  padding:5px 15px;
  border-right: 2px solid white;
  font-size: 21px;
}

.nav-item > a {
  color: var(--quaternary-color);
  text-decoration: none;
  font-size: 21px;
  padding: 0px 5px;
}

.nav-item:last-child {
  border-right: 0px;
}

.tab-selected{
  border-bottom: 2.5px solid white;
  padding: 0px 5px;
}

.text-xLarge{
  font-size: 72px;
}
.text-large{
  font-size: 30px;
}
.text-medium{
  font-size: 18px;
}
.text-small{
  font-size: 12px;
}

#home-title {
  padding-left: 2%;
}

#introduction {
  justify-content: space-around;
  max-width: 45%;
  height: 100%;
  color: var(--tertiary-color)
}